* {
    margin: 0;
    padding: 0;
}

html,
body {}

body {
    background-color: rgb(70, 70, 70);
    position: relative;
    overflow-x: hidden;

}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.9),
            rgba(0, 0, 0, 0.95)), url('/public/Karina_Portada.JPG');
    background-repeat: no-repeat;
    background-size: cover;
    filter: grayscale(100%);
    z-index: -1;

}

:root {
    --primary-font: 'Montserrat', sans-serif;
    --color-primary: #0E0B10;
    --color-secondary: #6B1F2C;
    --color-tertiary: #C9A6A0;
    --color-quaternary: #B89B5E;
    --color-quinary: #F4EFEA;
}


.navbar {

    position: fixed;
    top: 0;
    z-index: 999;
    width: 100%;
    background-color: var(--color-quinary);
    box-shadow: 0 0 15px var(--color-quaternary);
    /*border-radius: 15px 0 0 15px;*/
    padding: 0.5rem;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-between;
    transform: translateY(0);
    transition: transform 0.3s ease-in-out;
    box-sizing: border-box;
}
.navbar.scrolled {

}
.icon-logo{
    height: 50px;
    padding-left: 15px;
    
}
.bx-menu{
    scale: 2;
    cursor: pointer;
    color: var(--color-secondary);
    padding-right: 10px;
}
.list-ul-none{
    display: none;
}
.list-ul {
    font-family: var(--primary-font);
    display: flex;
    position: absolute;
    right: 5px;
    height: 20vh;
    top: 5px;
    background-color: var(--color-secondary);
    flex-direction: column;
    list-style-type: none;
    gap: 0.8rem;
    color: var(--color-quaternary);
    font-weight: bold;
    font-size: 16px;
    padding: 1rem;
    box-sizing: border-box;
    border-radius: 15px;
    
    /*writing-mode: vertical-rl;*/

}
.list-ul li{
padding:2px 5px ;

}
.close-menu{
    background-color: transparent;
    border: none;
    color: var(--color-quaternary);
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
}


.list-ul a {
    text-decoration: none;
    color: inherit;
    
}


.button-store {
    width: 60px;
    height: 60px;
    position: fixed;
    right: 3px;
    top: 345px;
    border: none;
    background-image: url('/public/luna-boton.png');
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
    align-content: center;
    box-shadow: 0 0 25px 5px var(--color-quaternary);
    z-index: 99;
    
    
}

.button-store i {
    width: 100%;
    height: 100%;
    color: #6b1f2c;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    
    
}
.button-store p{
    display: none;
}

.button-store:hover {
    width: 80px;
    height: 80px;
}
.button-store:hover p {
    display: inline;
    font-family: var(--primary-font);
    font-weight: bolder;
    font-size: 16px;
    color: #8b172b;
    text-shadow:  0 0 2px #B89B5E;
}
.button-store:hover i {
    display: none;
}
/*desde aca empiezan los estilos del contenido de la pagina*/

.first-view {
    
    background-image: url('/src/assets/backgrounds/mask-efect-2-dorado.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center right -45px;
    
    height: 100vh;
    max-height: 800px;
    width: 100%;
    box-sizing: border-box;
    align-content: center;
}

.title-welcome {

    position: absolute;
    top: 510px;
    height: auto;
    width: 65%;
    margin: 0 auto;
    padding: 0.5rem;
    padding-bottom: 15px;
    background-color: #6b1f2cc4;
    text-shadow: 0 0 15px var();
}

.title1 {
    font-size: 55px;
    font-family: var(--primary-font);
    color: var(--color-quaternary);
    font-weight: bold;

}

.title2 {
    font-family: var(--primary-font);
    color: var(--color-quinary);
    font-weight: 600;
    font-size: 20px;
    padding-left: 4px;
    padding-right: 4px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.titlel3 {
    font-family: var(--primary-font);
    padding-left: 4px;
    color: var(--color-quaternary);
    font-weight: bold;
    font-size: 18px;
}


.swap-section{
    background-image: url('/public/moon-seen-phase-with-sepia-style-effect.jpg');
    background-position: top -10px center;
    background-repeat: no-repeat;
    background-size: cover;
    
    height: 100px;
    align-content: center ;
    box-sizing: border-box;
}
.text-swap-section{
    font-family: var(--primary-font);
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    color: var(--color-quinary);
    background-color: #0e0b1073;
    height: 100%;
    width: 100%;
    align-content: center;
    box-sizing: border-box;
    padding: 1rem;
    box-shadow: inset 0 0 20px #B89B5E;
    text-shadow:  0 0 5px #F4EFEA;

}

.yo-soy-container{
    height: 678px;
    background-image: url('/public/Karina_Portada.JPG');
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    border: 1px solid #F4EFEA;
    font-family: var(--primary-font);
    padding: 10px;
}

.h3-title-yo-soy {
    position: relative;
    font-size: 40px;
    color: #6B1F2C;
    background-color: #b89c5e6b;
    text-align: end;
    
}

.p1 {
    width: 70%;
    position: relative;
    right: -60px;
    font-size: 30px;
    

}

.p2 {
    position: absolute;
    bottom: 250px;
    right: 50px;
    width: 40%;
}
.p3-p4{
    position: absolute;
        bottom: 10px;
        right:11px;
        padding: 10px;
        background-color: #f4efeac0;
        
}
#p3-yo-soy, #p4-yo-soy{
font-weight: bold;
color: var(--color-quaternary);
}


