* {
    margin: 0;
    padding: 0;
}

:root {
    --primary-font: 'Montserrat', sans-serif;
    --color-primary: #0E0B10;
    --color-secondary: #6B1F2C;
    --color-tertiary: #C9A6A0;
    --color-quaternary: #B89B5E;
    --color-quinary: #F4EFEA;
}




body {
    background-color: rgb(70, 70, 70);
    position: relative;
    overflow-x: hidden;
    box-sizing: border-box;
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    max-width: 435px;
    height: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.9),
            rgba(0, 0, 0, 0.95)), url('/public/Karina_Portada.JPG');
    background-repeat: no-repeat;
    background-size: cover;
    filter: grayscale(100%);
    z-index: -1;

}

@media (max-width:435px) {

    .navbar {

        position: fixed;
        top: 0;
        z-index: 999;
        width: 100%;
        background-color: var(--color-quinary);
        box-shadow: 0 0 15px var(--color-quaternary);
        /*border-radius: 15px 0 0 15px;*/
        padding: 0.5rem;
        display: flex;
        flex-flow: row;
        align-items: center;
        justify-content: space-between;
        transform: translateY(0);
        transition: transform 0.3s ease-in-out;
        box-sizing: border-box;
    }

    .icon-logo {
        height: 50px;
        padding-left: 15px;

    }

    .bx-menu {
        scale: 2;
        cursor: pointer;
        color: var(--color-secondary);
        padding-right: 10px;
    }

    .list-ul-none {
        display: none;
    }

    .list-ul {
        font-family: var(--primary-font);
        display: flex;
        position: absolute;
        right: 5px;
        height: auto;
        top: 5px;
        background-color: var(--color-secondary);
        flex-direction: column;
        list-style-type: none;
        gap: 0.8rem;
        color: var(--color-quaternary);
        font-weight: bold;
        font-size: 16px;
        padding: 1rem;
        box-sizing: border-box;
        border-radius: 15px;

        /*writing-mode: vertical-rl;*/

    }

    .list-ul li {
        padding: 2px 5px;

    }

    .close-menu {
        background-color: transparent;
        border: none;
        color: var(--color-quaternary);
        font-weight: bold;
        font-size: 16px;
        cursor: pointer;
    }

    .list-ul a {
        text-decoration: none;
        color: inherit;

    }

    .button-store {
        width: 60px;
        height: 60px;
        position: fixed;
        right: 0;
        top: 345px;
        border: none;
        background-image: url('/public/luna-boton.png');
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 50%;
        align-content: center;
        box-shadow: 0 0 25px 5px var(--color-quaternary);
        z-index: 99;


    }



    .button-store:hover {
        width: 80px;
        height: 80px;
        font-size: 16px;
    }

    .button-store {
        display: inline;
        font-family: var(--primary-font);
        font-weight: bolder;
        font-size: 12px;
        color: #8b172b;
        text-shadow: 0 0 2px #B89B5E;
    }

    .button-store:hover i {
        display: none;
    }

    /*desde aca empiezan los estilos del contenido de la pagina*/

    .first-view {
        position: relative;
        background-image: url('/src/assets/backgrounds/mask-efect-2-dorado.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center right -30px;
        height: 100vh;
        min-height: 753px;
        width: auto;
        max-width: 435px;
        box-sizing: border-box;
        align-content: center;
    }

    .title-welcome {

        position: absolute;
        top: 70%;
        height: auto;
        width: 65%;
        margin: 0 auto;
        padding: 0.5rem;
        padding-bottom: 15px;
        background-color: #6b1f2cc4;
        text-shadow: 0 0 15px var();
    }

    .title1 {
        font-size: 55px;
        font-family: var(--primary-font);
        color: var(--color-quaternary);
        font-weight: bold;

    }

    .title2 {
        font-family: var(--primary-font);
        color: var(--color-quinary);
        font-weight: 600;
        font-size: 20px;
        padding-left: 4px;
        padding-right: 4px;
        margin-top: 5px;
        margin-bottom: 5px;
    }

    .titlel3 {
        font-family: var(--primary-font);
        padding-left: 4px;
        color: var(--color-quaternary);
        font-weight: bold;
        font-size: 18px;
    }


    .swap-section {
        height: auto;
        align-content: center;
        box-sizing: border-box;
        background-color: var(--color-quaternary);
    }

    .text-swap-section {
        font-family: var(--primary-font);
        text-align: center;

        font-size: 22px;
        color: var(--color-quinary);
        background: l #0e0b10;
        height: 100%;
        width: 100%;
        align-content: center;
        box-sizing: border-box;
        padding: 0.3rem;
        font-weight: 500;

    }

    .section-yo-soy {
        height: 100vh;
        width: 100;
    }

    .yo-soy-container {
        position: relative;
        height: 100%;
        font-family: var(--primary-font);
        box-sizing: border-box;
    }



    .yo-soy-container img {
        width: 100%;
        height: 100vh;
        object-fit: cover;
        filter: grayscale(100%);
        background-color: linear-gradient(rgba(0, 0, 0, 0.6),
                rgba(0, 0, 0, 0.6));
    }





    .h3-title-yo-soy {
        position: absolute;
        top: 2%;
        font-size: 40px;
        color: #6B1F2C;
        text-align: start;
        font-weight: bold;
        padding-left: 16px;
    }

    .soy {
        font-size: 40px;
        color: #6B1F2C;
    }

    #p1-yo-soy {
        position: absolute;
        width: 380px;

    }

    .p2 {

        position: absolute;
        bottom: 25%;
        width: 144px;
        font-size: 22px;
        /*border: 4px solid #B89B5E;*/
        font-family: 'Times New Roman';
        text-align: left;
        padding-left: 1rem;
        padding-top: 1rem;
    }

    .soy {
        font-size: 40px;
        color: #6B1F2C;
    }

    .frase {
        background-color: #6B1F2C;
        color: #B89B5E;
        text-align: center;
        padding: 5px;
        position: absolute;

        bottom: 4%;
        right: 0;
        width: 50%;
        font-size: 18px;
        font-weight: bold;
    }


    .el-camino-section {
        position: relative;
        background-color: transparent;
        max-width: 435px;
    }

    .entrada-texto {
        background-color: var(--color-quinary);
        padding: 3rem 1rem;
        text-align: center;
        font-family: var(--primary-font);
        font-size: 22px;
    }

    .entrada-texto h2 {
        font-size: 55px;
        color: var(--color-secondary);
        font-weight: lighter;
        line-height: 40px;
    }

    .entrada-texto h3 {
        font-size: 18px;
        margin-bottom: 15px;
    }

    .el-camino-p2 {
        padding-left: 0;
    }



    .el-camino-parte-2 p {
        color: var(--color-quaternary);
        font-size: 22px;
        font-family: var(--primary-font);
        padding-left: 9rem;
        padding-right: 2%;
        text-align: right;
        font-weight: bold;
    }
    .el-camino-container-texto{
            position: absolute;
            top: 650px;
    }

    #el-camino-p2 {
        padding-left: 0.5rem;
    }

    .el-camino-parte-2 img {
        width: 100%;
    }

    .section-separador-elcamino-cierre{
        position: relative;
        top: -5px;
    }
    #swap-section-3{
        position: relative;
        top: -5px;
    }
    .texto-2-el-camino {
        background-color: var(--color-quinary);
        padding: 2rem 1rem;
        text-align: center;
        font-family: var(--primary-font);
        font-size: 22px;
        
    }

    .texto-2-el-camino strong {
        color: var(--color-secondary);
    }



    /*desde aca viene el estilo del carrusel*/


    .section-carrusel-fotos {
        height: 100vh;
        box-sizing: border-box;
        position: relative;
        top: -50px;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
    }

    .container-carrusel {
        position: relative;
        top: 40px;
        left: -100px;
        width: 400px;
        height: 400px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
    }

    .center-image {
        position: absolute;
        width: 200px;
        height: 200px;
        border-radius: 80%;

        padding-left: 20px;

    }

    .center-image p {
        width: 100%;
        height: 30%;
        align-content: center;
        justify-content: center;
        text-align: center;
        border-radius: 80%;
        font-size: 18px;
        color: var(--color-quinary);
        font-family: var(--primary-font);

    }

    #p1-carrusel {
        font-size: 20px;
        
        color: var(--color-secondary);
    }

    .box {
        position: relative;
        width: 300px;
        height: 300px;
        animation: animation 60s linear infinite;
        border-radius: 50%;
    }

    @keyframes animation {
        0% {
            rotate: 0deg;
        }

        100% {
            rotate: 360deg;
        }
    }

    container:hover .box {
        animation-play-state: paused;
    }

    .box .img {
        position: absolute;
        left: -53%;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }

    .box .img .img-box {
        position: absolute;
        left: 30px;
        width: 140px;
        height: 140px;
        border-radius: 50%;
        transform: rotate(calc(360deg / 8 * var(--i)));
        transform-origin: 280px;
        overflow: hidden;
        /*clip-path: polygon(0% 0%, 100% 0%, 90% 100%, 10% 100%);*/

    }


    .box .img .img-box img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        /*border-radius: 50%;No lo voy a usar*/
        transform: rotate(calc(-360deg/8 *var(--i)));
        animation: animateImg-box 60s linear infinite;

    }

    @keyframes animateImg-box {
        0% {
            rotate: 0deg;
        }

        100% {
            rotate: -360deg;
        }

    }

    .container-carrusel:hover .box .img .img-box img {
        animation-play-state: paused;
    }

}