* {
    margin: 0;
    padding: 0;
}

html,
body {}

body {
    background-color: rgb(70, 70, 70);
    position: relative;
    overflow-x: hidden;

}
@media (max-width:432px) {
    

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.9),
            rgba(0, 0, 0, 0.95)), url('/public/Karina_Portada.JPG');
    background-repeat: no-repeat;
    background-size: cover;
    filter: grayscale(100%);
    z-index: -1;

}

:root {
    --primary-font: 'Montserrat', sans-serif;
    --color-primary: #0E0B10;
    --color-secondary: #6B1F2C;
    --color-tertiary: #C9A6A0;
    --color-quaternary: #B89B5E;
    --color-quinary: #F4EFEA;
}


.navbar {

    position: fixed;
    top: 0;
    z-index: 999;
    width: 100%;
    background-color: var(--color-quinary);
    box-shadow: 0 0 15px var(--color-quaternary);
    /*border-radius: 15px 0 0 15px;*/
    padding: 0.5rem;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-between;
    transform: translateY(0);
    transition: transform 0.3s ease-in-out;
    box-sizing: border-box;
}

.navbar.scrolled {}

.icon-logo {
    height: 50px;
    padding-left: 15px;

}

.bx-menu {
    scale: 2;
    cursor: pointer;
    color: var(--color-secondary);
    padding-right: 10px;
}

.list-ul-none {
    display: none;
}

.list-ul {
    font-family: var(--primary-font);
    display: flex;
    position: absolute;
    right: 5px;
    height: auto;
    top: 5px;
    background-color: var(--color-secondary);
    flex-direction: column;
    list-style-type: none;
    gap: 0.8rem;
    color: var(--color-quaternary);
    font-weight: bold;
    font-size: 16px;
    padding: 1rem;
    box-sizing: border-box;
    border-radius: 15px;

    /*writing-mode: vertical-rl;*/

}

.list-ul li {
    padding: 2px 5px;

}

.close-menu {
    background-color: transparent;
    border: none;
    color: var(--color-quaternary);
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
}


.list-ul a {
    text-decoration: none;
    color: inherit;

}


.button-store {
    width: 60px;
    height: 60px;
    position: fixed;
    right: 3px;
    top: 345px;
    border: none;
    background-image: url('/public/luna-boton.png');
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
    align-content: center;
    box-shadow: 0 0 25px 5px var(--color-quaternary);
    z-index: 99;


}

.button-store i {
    width: 100%;
    height: 100%;
    color: #6b1f2c;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;


}

.button-store p {
    display: none;
}

.button-store:hover {
    width: 80px;
    height: 80px;
}

.button-store:hover p {
    display: inline;
    font-family: var(--primary-font);
    font-weight: bolder;
    font-size: 16px;
    color: #8b172b;
    text-shadow: 0 0 2px #B89B5E;
}

.button-store:hover i {
    display: none;
}

/*desde aca empiezan los estilos del contenido de la pagina*/

.first-view {

    background-image: url('/src/assets/backgrounds/mask-efect-2-dorado.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center right -45px;

    height: 100vh;
    max-height: 800px;
    width: 100%;
    box-sizing: border-box;
    align-content: center;
}

.title-welcome {

    position: absolute;
    top: 510px;
    height: auto;
    width: 65%;
    margin: 0 auto;
    padding: 0.5rem;
    padding-bottom: 15px;
    background-color: #6b1f2cc4;
    text-shadow: 0 0 15px var();
}

.title1 {
    font-size: 55px;
    font-family: var(--primary-font);
    color: var(--color-quaternary);
    font-weight: bold;

}

.title2 {
    font-family: var(--primary-font);
    color: var(--color-quinary);
    font-weight: 600;
    font-size: 20px;
    padding-left: 4px;
    padding-right: 4px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.titlel3 {
    font-family: var(--primary-font);
    padding-left: 4px;
    color: var(--color-quaternary);
    font-weight: bold;
    font-size: 18px;
}


.swap-section {
    height: auto;
    align-content: center;
    box-sizing: border-box;
    background-color: var(--color-quaternary);
}

.text-swap-section {
    font-family: var(--primary-font);
    text-align: center;
    
    font-size: 24px;
    color: var(--color-quinary);
    background: l #0e0b10;
    height: 100%;
    width: 100%;
    align-content: center;
    box-sizing: border-box;
    padding: 0.3rem;
    font-weight: 500;

}

.yo-soy-container {
    height: 678px;
    font-family: var(--primary-font);
    box-sizing: border-box;
}

.yo-soy-container::before {
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    mix-blend-mode: darken;
    z-index: 2;
}

.yo-soy-container img {
    width: 100%;
    filter: grayscale(100%);
    background-color: linear-gradient(rgba(0, 0, 0, 0.6),
            rgba(0, 0, 0, 0.6));
}




.h3-title-yo-soy {

    position: relative;
    top: -610px;
    font-size: 40px;
    color: #6B1F2C;
    text-align: start;
    font-weight: bold;
    padding-left: 16px;
}

.soy {
    font-size: 40px;
    color: #6B1F2C;
}

.p1 {
    width: 100%;
    position: relative;
    top: -620px;
    margin: 0 auto;
    font-size: 22px;
    color: #0E0B10;
    text-align: justify;
    padding: 0 1rem;
    /*border: 4px solid #B89B5E;*/
    font-family: 'Times New Roman';
    box-sizing: border-box;

}

.p2 {
    position: relative;
    top: -620px;
    left: 0;
    width: 35%;
    font-size: 22px;
    /*border: 4px solid #B89B5E;*/
    font-family: 'Times New Roman';
    text-align: left;
    padding-left: 1rem;
    padding-top: 1rem;
}

.soy {
    font-size: 40px;
    color: #6B1F2C;
}

.frase {
    background-color: #6B1F2C;
    color: #B89B5E;
    text-align: center;
    padding: 5px;
    position: relative;
    top: -620px;
    right: -210px;
    width: 50%;
    font-size: 21px;
    font-weight: bold;
}
}